In [1]:
import pandas as pd

In [3]:
import numpy as np

In [65]:
train_df = pd.read_csv("spam_data_train.csv")

In [66]:
train_df.head(15)

,Unnamed: 0,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
5,5,spam,FreeMsg Hey there darling it's been 3 week's n...,NaN,NaN,NaN
6,6,ham,Even my brother is not like to speak with me. ...,NaN,NaN,NaN
7,7,ham,As per your request 'Melle Melle (Oru Minnamin...,NaN,NaN,NaN
8,8,spam,WINNER!! As a valued network customer you have...,NaN,NaN,NaN
9,9,spam,Had your mobile 11 months or more? U R entitle...,NaN,NaN,NaN
10,10,ham,I'm gonna be home soon and i don't want to tal...,NaN,NaN,NaN
11,11,spam,"SIX chances to win CASH! From 100 to 20,000 po...",NaN,NaN,NaN
12,12,spam,URGENT! You have won a 1 week FREE membership ...,NaN,NaN,NaN
13,13,ham,I've been searching for the right words to tha...,NaN,NaN,NaN
14,14,ham,I HAVE A DATE ON SUNDAY WITH WILL!!,NaN,NaN,NaN

In [67]:
train_df.isnull().sum()/len(train_df)

Unnamed: 0    0.000
v1            0.000
v2            0.000
Unnamed: 2    0.991
Unnamed: 3    0.998
Unnamed: 4    0.999
dtype: float64

In [68]:
del train_df["Unnamed: 2"]

In [69]:
del train_df["Unnamed: 3"]
del train_df["Unnamed: 4"]

In [70]:
train_df.isnull().sum()/len(train_df)

Unnamed: 0    0.0
v1            0.0
v2            0.0
dtype: float64

In [71]:
train_df.head()

   Unnamed: 0    v1                                                 v2
0           0   ham  Go until jurong point, crazy.. Available only ...
1           1   ham                      Ok lar... Joking wif u oni...
2           2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3           3   ham  U dun say so early hor... U c already then say...
4           4   ham  Nah I don't think he goes to usf, he lives aro...

In [72]:
%matplotlib notebook
import matplotlib.pyplot as plt

In [73]:
import nltk

In [74]:
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\sue_b\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\sue_b\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\sue_b\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [75]:
from nltk.tokenize import word_tokenize, WordPunctTokenizer

In [76]:
train_df.dtypes

Unnamed: 0     int64
v1            object
v2            object
dtype: object

In [35]:
train_df["v2"] = train_df['v2'].astype(str)

In [77]:
text_list = train_df["v2"].tolist()

In [78]:
text_list[1]

'Ok lar... Joking wif u oni...'

In [79]:
for i in np.arange(len(train_df)):
    train_df["v2"][i] = word_tokenize(text_list[i])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [80]:
train_df

      Unnamed: 0    v1                                                 v2
0              0   ham  [Go, until, jurong, point, ,, crazy, .., Avail...
1              1   ham           [Ok, lar, ..., Joking, wif, u, oni, ...]
2              2  spam  [Free, entry, in, 2, a, wkly, comp, to, win, F...
3              3   ham  [U, dun, say, so, early, hor, ..., U, c, alrea...
4              4   ham  [Nah, I, do, n't, think, he, goes, to, usf, ,,...
...          ...   ...                                                ...
4995        4995   ham  [Happy, new, year, ., Hope, you, are, having, ...
4996        4996   ham              [Esplanade, lor, ., Where, else, ...]
4997        4997   ham                     [Can, you, talk, with, me, ..]
4998        4998   ham             [Hmph, ., Go, head, ,, big, baller, .]
4999        4999   ham  [Well, its, not, like, you, actually, called, ...

[5000 rows x 3 columns]